.ferrari{
    border-right: 4px solid darkred;
}
.lotus{
    border-right: 4px solid yellow;
}
.mercedes{
    border-right: 4px solid darkcyan;
}
.redbull{
    border-right: 4px solid purple;
}
.sauber{
    border-right: 4px solid green;
}
.williams{
    border-right: 4px solid snow;
}