@import "teams";
@import "header";
@import "drivers-teams";
@import "queries";
%header-text{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #fafafa;
    font-family: arial;
    padding: 20px 40px;
    display: block;
}
%text-styling{
    color: #fafafa;
    font-family: arial;
    text-transform: uppercase;
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("Design/site-background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#mainTitle{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;

    h1{
        font-size: 70px;
        color: #fafafa;
        font-family: arial;
    }
    h2{
        font-size: 30px;
        color: #fafafa;
        font-family: arial;

        img{
            padding: 0px 30px;
        }
    }
}
#main_Index{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    border-top: 30px solid transparent;
    border-image: url(Design/stripes.png) 30 round;
    box-sizing: border-box;
    padding: 40px 200px;
    
    #contentWrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        .content{
            display: flex;
            flex-direction: column;
            width: 33%;
            margin-right: 25px;
            
            &:last-child{
                margin: 0;
            }
            
            h3{
                @extend %text-styling;
                font-size: 26px;
            }
            h4{
                font-size: 20px;
                font-weight: normal;
                @extend %text-styling;
                margin-bottom: 5px;
            }
            h5{
                font-size: 18px;
                font-weight: normal;
                @extend %text-styling;
                color: #999;
                text-transform: none;
            }
            .driver-team{
                box-sizing: border-box;
                padding: 15px;
                width: 100%;
                height: 25%;
                margin-bottom: 5px;
                background-color: rgba(0,0,0,0.7);
    
                &:last-child{
                    margin: 0;
                }

                .information{
                    display: flex;

                    img{
                        padding-right: 15px;  
                        height: 60px;  
                    }
                }
            }
            .track{
                box-sizing: border-box;
                padding: 15px;
                width: 100%;
                height: 100%;
                margin-bottom: 5px;
                background-color: rgba(0,0,0,0.7);
                
                img{
                    margin: 0 auto;
                    display: block;
                }

                table{
                    margin-top: 10px;
                    width: 100%;

                    td{
                        @extend %text-styling;
                        color: #999;

                        &:last-child{
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}